<header class="container-fluid parallax">
    <div class="parallax-overlay"></div>
    <div></div>
    <div id="content">
        <nav class="col-md-offset-2 navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://razbor-poletov.com/" target="_blank">Разбор Полётов</a></li>
                </ul>
            </div>
        </nav>
        <div id="header-main">
            <div class="col-md-12" style="text-align: center">
                <span><img src="style/image/Helment-with-shadow.png" class="main-img"/></span>
                <span class="header">Young Pilots</span>
            </div>
            <div class="col-md-offset-3 col-md-6 header-text">
                Добрый день, Добрый вечер, Доброй ночи, Доброго утра, вас приветствует сайт Helper для обожаемого вами
                подкаста "Разбор Полётов".
            </div>
        </div>
        <div class="col-md-2 header-text">
            <div>
                <span>Next broadcast:</span><br/>
                <span>{{broadcastDate | date:"MM/dd/yyyy 'at' HH:mm "}}{{broadcastData.timezone}}</span>
            </div>
            <div class="broadcast" broadcast>
                <a href="http://razbor-poletov.com/broadcast.html" target="_blank">
                    <span class="glyphicon glyphicon-bullhorn"></span><br/>
                    <span>LIVE</span>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid block" id="useful-things-section">
    <div id="block">
        <div class="col-md-12" style="padding-left: 0px">
            <h1 class="header">Useful Things</h1>
            <span>(aka Полезняшки)</span>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="padding-left: 0px">
                <hr class="style"/>
            </div>
        </div>
        <div class="col-md-12 useful-menu">
            <span ng-if="filterTag != null && filterTag != ''">Filter: {{filterTag}}</span>
            <span class="glyphicon glyphicon-erase"  ng-click="changeFilter('')" popup
                  text-content="Reset filter"></span>
        </div>
        <div class="col-md-12">
            <div id="useful"
                 ng-repeat="usefulThing in usefulThings | orderBy: 'podcastId' : true | filter: filterTag | limitTo: 20">
                <span ng-bind="usefulThing.provider"></span>
                <a href="{{usefulThing.link}}" target="_blank">Link</a><br/>
                <div class="description" ng-bind="usefulThing.description" popup
                     popup-content="usefulThing.description">
                </div>
                <div class="tags" ng-if="usefulThing.tags != null">
                    <span ng-repeat="tag in usefulThing.tags | limitTo: checkTagLimit(usefulThing.tags)">
                        <span ng-bind="tag" class="label label-primary tag"
                              ng-click="changeFilter(tag)"></span>
                    </span>
                    <span ng-if="checkTagLimit(usefulThing.tags) == 4">
                        <span class="glyphicon glyphicon-option-horizontal more-tags" popup
                              popup-content="usefulThing.tags[usefulThing.tags.length - 1]"
                              text-content="tag"
                              ng-click="changeFilter(usefulThing.tags[usefulThing.tags.length - 1])"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid section-parallax parallax" id="conf-section">
    <div class="parallax-overlay"></div>
    <div class="row">
        <h1 class="header">Conferences</h1>
    </div>
    <div class="col-md-4 conf" ng-repeat="conference in conferences | orderBy: 'startDate'">
        <div>
            <div ng-bind="conference.name"></div>
            <div id="where-and-when">
                <span class="glyphicon glyphicon-calendar">{{conference.startDate | date: 'MMM d'}}
                    {{conference.endDate == null ? '' : ' - ' + (conference.endDate | date: 'd')}}</span>
                <span class="glyphicon glyphicon-map-marker" ng-bind="conference.location" style="float: right;"></span>
            </div>
            <div class="conf-desc" ng-bind="conference.description"></div>
        </div>
        <div>
            <hr/>
            <a href="{{conference.website}}" target="_blank" style="color: white">{{conference.website}}</a>
            <br/>
            <div ng-if="conference.promocode != null">Promocode: {{conference.promocode}}</div>
        </div>
    </div>
    <div class="countdown" ng-repeat="conference in conferences | orderBy: 'startDate' | limitTo: 1"
         countdown-time="conference.startDate" timezone-offset="3">
    </div>
</section>
<section class="container-fluid block" id="contact-section">
    <div id="block">
        <div class="col-md-12" style="padding-left: 0px">
            <h1 class="header">Creators & Guests</h1>
            <span>(Все живут с
                солнечных городах и
                штатах)</span>
        </div>
        <div class="col-md-8 col-md-offset-2" style="padding-left: 0px">
            <hr class="style"/>
        </div>
        <div ng-repeat="contact in activeContacts" id="contacts">
            <div class="main-data">
                <div>
                    <img ng-src="{{contact.img}}" class="img-circle"/>
                    <div>
                        <span ng-if="contact.firstname != '' && contact.lastname != ''" ng-bind="contact.firstname + ', ' + contact.lastname"></span><br/>
                        <span ng-if="contact.info.location != ''" class="glyphicon glyphicon-map-marker">{{contact.info.location}}</span>
                        <hr class="style"/>
                    <span ng-if="contact.info.position != '' || contact.info.job != ''">{{contact.info.position}} at <a
                            href="{{contact.info.jobWebSite}}" target="_blank">{{contact.info.job}}</a></span>
                    </div>
                </div>
                <p ng-if="contact.info.webSite != ''" class="glyphicon glyphicon-link"> <a
                        href="{{contact.info.webSite}}" target="_blank">{{contact.info.webSite}}</a></p>
                <p class="note" ng-if="contact.info.note != ''">{{contact.info.note}}</p>
            </div>
            <div class="socials">
                <span ng-repeat="(index, link) in contact.socials">
                    <span ng-repeat="(key, value) in link">
                        <a href="{{value}}" ng-if="value != ''"
                           target="_blank"><img ng-src="{{socialIcons[key]}}"/></a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid section-parallax parallax" id="quote-section">
    <div class="parallax-overlay"></div>
    <div class="row">
        <h1 class="header">Deep Thoughts</h1>
    </div>
    <div class="col-md-4" ng-repeat="quote in quotes | limitTo: 6">
        <blockquote>
            <p ng-bind="quote.quote"></p>
            <p ng-bind="quote.author"></p>
        </blockquote>
    </div>
</section>
<footer class="container-fluid">
    <div class="row">
        <img src="style/image/top-button.png" class="top-button"/>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>O Сайте</h3>
            YoungPilots - это сайт организатор, одного из лучших ИТ подкастов <a href="http://razbor-poletov.com/" target="_blank"
                >"Razbor Poletov"</a>. На этом сайте собраны
            все самые
            полезные ссылки, которыми делятся создатели и гости проекта. Один из разделов этого сайта будет посвящен
            ИТ Конференциям по всему миру.
            <ul class="list-unstyled list-inline socials footer-socials">
                <li>
                    <a href="https://plus.google.com/+Razbor-poletov/posts" class="navbar-brand" target="_blank">
                        <img src="style/image/google-plus-black.png" alt="Google+"/>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/razbor-poletov/razbor-poletov.github.com" class="navbar-brand" target="_blank">
                        <img src="style/image/github-black.png" alt="Github"/>
                    </a>
                </li>
                <li>
                    <a href="https://gitter.im/razbor-poletov/razbor-poletov.github.com" class="navbar-brand" target="_blank">
                        <img class="img-circle"
                             src="style/image/gitter-black.png"
                             alt="Gitter"/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 author">
            <h3>Авторы подкаста</h3>
            <ul class="list-unstyled">
                <li>Виктор Гамов</li>
                <li><a href="https://twitter.com/gamussa" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/gAmUssA" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/vikgamov" target="_blank">Linkedin</a></li>
                <li>Алексей Абашев</li>
                <li><a href="https://twitter.com/a_abashev" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/abashev" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/abashev/ru" target="_blank">Linkedin</a></li>
            </ul>
        </div>
        <div class="col-md-2 author">
            <h3>Автор сайта</h3>
            <ul class="list-unstyled">
                <li>Власов Артём</li>
                <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/VlasovArtem" target="_blank">Github</a></li>
                <li><a href="https://ua.linkedin.com/in/vlasovartem" target="_blank">Linkedin</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Links</h3>
            <ul class="list-unstyled">
                <li><a href="http://razbor-poletov.com/blog/archives/" target="_blank">Архив подкастов</a></li>
                <li><a href="https://plus.google.com/+Razbor-poletov/posts" target="_blank">Google +</a></li>
                <li><a href="http://razbor-poletov.com/broadcast.html" target="_blank">Broadcast Live</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.shonenfactory.razborpoletov" target="_blank">Google Play</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h4>©2015 <a
                href="https://github.com/VlasovArtem"
                target="_blank">vlasovartem
        </a></h4>
    </div>
</footer>
<script>
    $('.top-button').click(function() {
        $('html, body').animate({scrollTop: 0}, 500);
    });
</script>