<header class="container-fluid parallax" ng-cloak>
    <div class="parallax-overlay"></div>
    <div id="content">
        <nav class="navbar navbar-default main-nav-menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://razbor-poletov.com/" target="_blank">Razbor Poletov</a></li>
                    <li><a href="#useful">Useful Things</a></li>
                    <li><a href="#conference">Conferences</a></li>
                </ul>
            </div>
        </nav>
        <div id="header-main">
            <div class="col-md-12">
                <span class="header">Young Pilots</span>
            </div>
            <div class="col-md-offset-3 col-md-6 header-text">
                Добрый день, Добрый вечер, Доброй ночи, Доброго утра, вас приветствует сайт Helper для обожаемого вами
                подкаста "Разбор Полётов".
            </div>
        </div>
        <div class="col-md-2 header-text" ng-if="broadcastData">
            <div>
                <span>Next broadcast:</span><br/>
                <span>{{broadcastData | confStartDate:"MM/dd/yyyy 'at' HH:mm"}}</span>
            </div>
            <div class="broadcast" broadcast>
                <a href="http://razbor-poletov.com/broadcast.html" target="_blank">
                    <span class="glyphicon glyphicon-bullhorn"></span><br/>
                    <span>LIVE</span>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid block" id="useful-things-section" ng-cloak>
    <div id="block">
        <div class="col-md-12">
            <h1 class="header">Useful Things</h1>
            <span>(aka Полезняшки)</span>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <hr class="style"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-4 col-sm-5 col-xs-5 input-group">
                <input type="search" ng-model="filterTag" ng-model-options="{debounce: 750}"
                       placeholder="Filter"
                       class="form-control filter"/>
                <span class="glyphicon glyphicon-remove input-group-addon" ng-click="filterTag = ''"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div id="useful"
                 ng-repeat="usefulThing in usefulThings| orderBy: 'podcastId' : true | utFilter: filterTag | limitTo: utLimit">
                <span ng-bind="::usefulThing.name"></span>
                <a href="{{usefulThing.link}}" target="_blank">Link</a><br/>
                <div class="description" ng-bind="::usefulThing.description" popup
                     popup-content="usefulThing.description">
                </div>
                <div class="tags" ng-if="usefulThing.tags != null">
                    <span ng-repeat="tag in ::usefulThing.tags | limitTo: checkTagLimit(usefulThing.tags)">
                        <span ng-bind="::tag" class="label label-primary tag"
                              ng-click="changeFilter(tag)"></span>
                    </span>
                    <span ng-if="checkTagLimit(usefulThing.tags) == 4">
                        <span class="glyphicon glyphicon-option-horizontal more-tags" popup
                              popup-content="usefulThing.tags[usefulThing.tags.length - 1]"
                              text-content="tag"
                              ng-click="changeFilter(usefulThing.tags[usefulThing.tags.length - 1])"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid section-parallax parallax" id="conf-section" ng-cloak>
    <div class="parallax-overlay"></div>
    <div id="block">
        <div class="col-md-12">
            <h1 class="header">Conferences</h1>
        </div>
        <div class="col-md-4 col-sm-6 conf"
             ng-repeat="conference in ::conferences | orderBy: getDateMillis | filter: isComplete() | limitTo: 3">
            <div>
                <div ng-bind="::conference.name"></div>
                <div id="where-and-when">
                <span class="glyphicon glyphicon-calendar">{{conference | confStartDate:'MMM d'}}
                    {{conference.date.endDate == null ? '' : ' - ' + (conference | confEndDate: 'd')}}</span>
                <span class="glyphicon glyphicon-map-marker" ng-bind="conference.location.city + ', ' + conference.location.country"
                      style="float: right;"></span>
                </div>
                <div class="conf-desc" ng-bind="conference.description"></div>
            </div>
            <div>
                <hr/>
                <a href="{{::conference.links.website}}" target="_blank">{{::conference.links
                    .website}}</a>
                <p ng-if="conference.promoCode">Promo code: <strong>{{::conference
                    .promoCode}}</strong></p>
                <br/>
            </div>
        </div>
        <div class="countdown"
             ng-repeat="conference in conferences | orderBy: getDateMillis | filter: isComplete() | limitTo: 1"
             date="conference.date.startDate" offset="conference.date.timezone">
        </div>
    </div>
</section>
<section class="container-fluid block" id="contact-section" ng-cloak>
    <div id="block">
        <div class="col-md-12">
            <h1 class="header">Creators & Guests</h1>
            <span>(Все живут в
                солнечных городах и
                штатах)</span>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <hr class="style"/>
        </div>
        <div ng-repeat="contact in activeContacts | limitTo: contacsLimit" id="contacts" class="col-md-4 col-xs-12 col-sm-6">
            <contacts ng-model="contact"></contacts>
        </div>
    </div>
</section>
<section class="container-fluid section-parallax parallax" id="quote-section">
    <div class="parallax-overlay"></div>
    <div id="block">
        <div class="col-md-12">
            <h1 class="header">Deep Thoughts</h1>
        </div>
        <div class="col-md-4" ng-repeat="quote in quotes | limitTo: quotesLimit">
            <blockquote>
                <p>{{quote}}</p>
            </blockquote>
        </div>
    </div>
</section>
<footer class="container-fluid" ng-cloak>
    <div id="block">
        <div class="col-md-12 col-sm-12 col-xs-12 button">
            <img src="style/image/top-button.png" class="top-button"/>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <h3>About</h3>
                YoungPilots - это сайт организатор, одного из лучших ИТ подкастов <a href="http://razbor-poletov.com/" target="_blank"
                    >"Razbor Poletov"</a>. На этом сайте собраны
                все самые
                полезные ссылки, которыми делятся создатели и гости проекта. Один из разделов этого сайта посвящен
                ИТ Конференциям по всему миру.
                <ul class="list-unstyled list-inline socials footer-socials">
                    <li>
                        <a href="https://plus.google.com/+Razbor-poletov/posts" class="navbar-brand" target="_blank">
                            <img src="style/image/google-plus-black.png" alt="Google+"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/razbor-poletov/razbor-poletov.github.com" class="navbar-brand" target="_blank">
                            <img src="style/image/github-black.png" alt="Github"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://gitter.im/razbor-poletov/razbor-poletov.github.com" class="navbar-brand" target="_blank">
                            <img class="img-circle"
                                 src="style/image/gitter-black.png"
                                 alt="Gitter"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 author">
                <h3>Podcast Authors</h3>
                <ul class="list-unstyled">
                    <li>Виктор Гамов</li>
                    <li><a href="https://twitter.com/gamussa" target="_blank">Twitter</a></li>
                    <li><a href="https://github.com/gAmUssA" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/vikgamov" target="_blank">Linkedin</a></li>
                    <li>Алексей Абашев</li>
                    <li><a href="https://twitter.com/a_abashev" target="_blank">Twitter</a></li>
                    <li><a href="https://github.com/abashev" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/abashev/ru" target="_blank">Linkedin</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 author">
                <h3>Page Author</h3>
                <ul class="list-unstyled">
                    <li>Власов Артём</li>
                    <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                    <li><a href="https://github.com/VlasovArtem" target="_blank">Github</a></li>
                    <li><a href="https://ua.linkedin.com/in/vlasovartem" target="_blank">Linkedin</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <h3>Links</h3>
                <ul class="list-unstyled">
                    <li><a href="http://razbor-poletov.com/" target="_blank">Razbor Poletov</a></li>
                    <li><a href="http://razbor-poletov.com/blog/archives/" target="_blank">Podcasts Archive</a></li>
                    <li><a href="http://razbor-poletov.com/broadcast.html" target="_blank">Broadcast Live</a></li>
                    <li><a href="http://feeds.feedburner.com/razbor-podcast" target="_blank">RSS</a></li>
                    <li><a href="https://plus.google.com/+Razbor-poletov/posts" target="_blank">Google +</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.shonenfactory.razborpoletov" target="_blank">Google Play</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h4>©2015 <a
                    href="https://github.com/VlasovArtem"
                    target="_blank">vlasovartem
            </a></h4>
        </div>
    </div>
</footer>
<script>
    $('.top-button').click(function() {
        $('html, body').animate({scrollTop: 0}, 500);
    });
</script>
