/*General*/
body {
  font-family: 'Roboto Slab', serif;
}
.block {
  min-height: 700px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.tag:hover,
.tag:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.top-button:hover,
.top-button:focus,
.more-tags:hover,
.more-tags:focus,
.reset-month:hover,
.reset-month:focus,
.links > span:hover,
.links > span:focus {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}
hr.style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
#block {
  padding-left: 10px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
div > h1 .header {
  margin-bottom: 0px
}
section {
  padding-top: 40px;
}
.parallax .parallax-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}

#block > div:nth-child(2) > div {
  padding-left: 0;
}
/*#block > div:first-child {*/
/*padding-left: 0;*/
/*}*/
#block > div:last-child > div {
  text-align: left;
}
nav {
  font-size: medium;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  -webkit-filter: invert(0%);
  -moz-filter: invert(0%);
  -o-filter: invert(0%);
  filter: invert(0%);
}

/*Header Section*/
header {
  background: url("image/header-background-final2.jpg") center fixed no-repeat;
  min-height: 500px;
  position: relative;
  background-size: cover;
}
header .parallax-overlay {
  background-color: rgba(0,0,0,0.5) !important;
}
#content {
  color: #fff;
}
.header {
  font-family: 'Poiret One', cursive;
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
}
#header-main {
  height: 350px;
  padding-top: 50px;
}
#header-main > div:first-child {
  text-align: center;
}
header .header {
  font-size: 70pt;
}
.header+span {
  text-align: center;
  font-size: x-small;
  display: block;
  color: #adadad;
  margin-top: -10px;
}
.header-text {
  font-weight: 100;
  text-align: center;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 20px;
}
#content > .header-text:last-child {
  font-size: smaller;
  font-weight: 400;
  text-align: left;
  display: inline-block;
}
.broadcast {
  color: grey;
  padding-left: 10px;
}
.broadcast > a {
  text-decoration: none;
  color: inherit;
}
#content > .header-text:last-child > div {
  display: table-cell;
}
.broadcast > a > span:first-child {
  font-size: medium;
}
.broadcast > a > span:last-child {
  font-size: x-small;
}
.live > a > span:first-child {
  color: #46b8da;
}
.live > a > span:last-child {
  color: red;
}
.main-nav-menu {
  background-color: transparent !important;
  border-color: transparent !important;
}
.main-nav-menu .navbar-nav > li > a {
  color: #46b8da;
  /*font-size: larger;*/
}
.main-nav-menu .navbar-brand {
  color: #46b8da;
  font-size: larger;
}
.navbar-default .navbar-toggle {
  border-color: #46b8da;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #46b8da;;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  opacity: 0.2;
}
.main-img {
  width: 80px;
  height: 80px;
}

/*Contacts Section*/
#contacts {
  display: inline-block;
  min-height: 260px;
  vertical-align: top;
  padding: 10px 10px 20px 10px;
}
#contacts .img-circle {
  width: 100px;
  height: 100px;
  display: table-cell
}
#contacts div > span:nth-child(5) {
  font-size: medium;
}
.contact-block {
  display: table;
}
.outer-contact-block {
  height: 125px;
}
#contacts div > hr {
  margin: 0 0 10px 0;
}
.note {
  height: 60px;
  overflow: hidden;
  margin-bottom: 0px;
  text-align: justify;
}
.main-data {
  min-height: 185px;
  margin-bottom: 10px;
}

/*Footer Section*/
.img-circle + div > span:first-child {
  font-weight: 600;
  font-size: large;
}
.img-circle + div {
  display: table-cell;
  vertical-align: top
}
.socials img {
  height: 30px;
  width: 30px;
}
.socials li {
  width: 50px;
}
footer {
  position: relative;
  background-color: #7A919B;
  box-shadow:inset 0 15px 5px -16px #111;
  font-weight: 300;
  color: #d2d4d6;
  padding: 10px 40px 10px 40px;
}
footer .container-fluid {
  height: 100%
}
footer a[href] {
  color: #C5C2D1;
  text-decoration: none;
}
footer a[href]:hover,
footer a[href]:focus {
  color: #F4F4F4;
  text-decoration: none;
}
footer .row > div > h3 {
  color: #E0E0E0;
}
footer+div {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
footer > #block > div:last-child{
  text-align: center;
}
.footer-content {
  display: table;
}
.footer-content > div {
  display: table-column;
}
.author li:nth-child(4n-3) {
  font-weight: 700;
}
.top-button {
  vertical-align: middle;
  float: right;
  width: 30px;
  height: 30px;
  opacity: 0.6;
}

/*Quotes Section*/
#quote-section {
  background: url("image/quotes-black-and-white-final.jpg") center fixed no-repeat;
  position: relative;
  background-size: cover;
}
#quote-section > div:not(:nth-child(1)) {
  color: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#quote-section .parallax-overlay {
  background-color: rgba(0,0,0,0.5) !important;
}
#quote-section > div:nth-child(2) > h1 {
  padding-left: 0;
  padding-bottom: 20px;
}
blockquote {
  font-weight: 100;
  max-height: 105px;
}

/*Useful Things section*/
#useful {
  font-weight: 400;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .1);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  padding: 5px;
  height: 110px;
  vertical-align: top;
}
#useful > span {
  font-weight: 700;
  text-transform: capitalize;
}
#useful > a {
  float:right;
}
#useful > .description {
  height: 60px;
  overflow: hidden;
  white-space: normal;
}
#useful > .tags {
  vertical-align: bottom;
  cursor: pointer;
  overflow: hidden;
}
#useful-things-section > #block > div:last-child {
  text-align: center;
}
.more-tags {
  font-size: larger;
  vertical-align: middle;
}

/*Conference Section*/
#conf-section {
  background: url("image/conferences/backgroud/conference-final.jpg") center fixed no-repeat;
  position: relative;
  background-size: cover;
  color: #fff;
}
#conf-section .parallax-overlay {
  background-color: rgba(0,0,0,0.8) !important;
}
.countdown {
  position: absolute;
  width: 80%;
  top: 10px;
}
.conf {
  font-weight: 200;
  /*border: 2px solid grey;*/
}
.conf > div {
  height: 180px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.conf > div:last-child {
  height: 80px;
}
.conf > div:last-child > a {
  color: white;
}
.conf > div:last-child > p {
  margin-top: 10px;
  text-align: center;
  font-size: medium;
}
.conf > div > div:first-child {
  font-weight: 400;
  font-size: x-large;
  text-align: center;
}
.conf > div > div {
  margin-left: auto;
  margin-right: auto;
}
.conf > div > hr {
  margin-bottom: 5px;
}
.conf-desc {
  text-align: justify;
  overflow: hidden;
  height: 110px;
  font-size: medium;
}
label {
  color: #23527c !important;
}
#where-and-when {
  font-size: large;
  font-weight: 300;
  padding-bottom: 5px;
}
#where-and-when > span {
  line-height: 2;
}

/*Useful Things Page*/
.filter {
  border: none;
  border-bottom: 1.5px solid #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.filter:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(102, 175, 233, .6);
  box-shadow: 0 0 0 0 rgba(102, 175, 233, .6);
}
.filter + .input-group-addon {
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #ccc;
  opacity: .8;
}
.filter + .input-group-addon:focus,
.filter + .input-group-addon:hover {
  color: #66afe9;
}
#usefulThings-page > .row:first-child > div {
  margin-bottom: 10px;
}
.useful-table tr:nth-child(1n+1) > td:first-child {
  text-transform: capitalize;
}
.useful-table tr:nth-child(1n+1) > td:last-child {
  text-align: center;
}
.sort-ascent:before{
  content: '\25B2';
}
.sort-descent:before{
  content: '\25BC';
}
th[sort] {
  cursor: default;
}

/*Conference page*/
.conference {
  border: 1px solid silver;
  -webkit-box-shadow: 1px 1px 1px rgba(186, 165, 185, .6);
  -moz-box-shadow:  1px 1px 1px rgba(186, 165, 185, .6);
  box-shadow:  1px 1px 1px rgba(186, 165, 185, .6);
  min-height: 400px;
  padding: 0 10px 20px 10px;
  margin-bottom: 30px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
#conf-content {
  height: 170px;
}
#conf-content #description {
  height: 140px;
  overflow: hidden;
}
#conf-content #description > h4{
  text-align: center;
  font-size: large;
  font-weight: 400;
}
#conf-content #description > p {
  text-align: justify;
  font-size: medium;
  overflow: hidden;
  max-height: 90px;
}
#conf-content > p {
  font-size: large;
}
#bottom {
  position: absolute;
  bottom: 1px;
  color: grey;
  opacity: .2;
  font-size: xx-small;
}
.conf-socials {
  display: inline;
}
.conf-socials > a > img {
  width: 50px;
  height: 50px;
  margin: 0 15px 0 0;
}
.links > a > span {
  font-size: x-large;
}
.links > a {
  text-decoration: none;
}
.conference > img {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 50px;
  height: 50px;
}
.conference > h2 {
  text-align: center;
}

/*About Page*/
.about h1 {
  text-align: center;
}
.about .description {
  font-size: large;
  text-align: justify;
}
.about ul {
  font-size: large;
  text-align: justify;
}
.about ul > li > span {
  font-weight: 700;
}

/*Media Css*/
@media screen and (min-width: 1200px) {
  .section-parallax {
    height: 400px;
  }
}
@media screen and (min-width: 320px) {
  #month-search {
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (max-width: 331px) {
  #search {
    padding-right: 0;
  }
}
@media screen and (min-width: 1500px) {
  .conf-grid {
    width: 33%;
  }
}
@media screen and (max-width: 450px){
  .join-us {
    width: 40px !important;
    height: 40px !important;
  }
  .conf-socials > a > img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
  }
  .conference > img {
    width: 30px;
    height: 30px;
    left: -10px;
    top: -10px;
  }
}
@media screen and (max-width: 1314px) {
  .conf > div {
    width: 100%;
  }
  blockquote {
    max-height: none;
  }
  #content > .header-text:last-child > div {
    padding-right: 10px;
  }
  #useful {
    margin: 10px 10px 10px 0px;
  }
  #block > div:nth-child(3) {
    padding-right: 15px;
  }
}
@media screen and (max-width: 390px){
  #where-and-when {
    font-size: medium;
  }
}
@media screen and (max-width: 346px){
  #where-and-when {
    font-size: 13px;
  }
}
@media screen and (max-width: 523px) {
  #header-main {
    height: auto;
  }
}

/*Undefiend*/
.filter {
  height: 25px;
}
.container-fluid tr:first-child > th:last-child {
  text-align: center;
}
#search {
  margin-bottom: 20px;
}
#search > div > span {
  vertical-align: middle;
}
.tweet > div > div {
  border: 1px solid #9fbbb4;
  border-radius: 10px;
  /*-webkit-box-shadow: 1px 1px 1px rgba(186, 165, 185, .6);*/
  /*-moz-box-shadow:  1px 1px 1px rgba(186, 165, 185, .6);*/
  /*box-shadow:  1px 1px 1px rgba(186, 165, 185, .6);*/
  display: table;
  padding: 10px;
  height: 110px;
  margin: 10px 0 10px 0px;
}
.tweet > div > div > div{
  display: table-cell;
  vertical-align: middle;
}
.tweet > div > div > div:first-child {
  padding: 0 5px 0 0;
}
.tweet > div > div > div {
  height: 100px;
}
/*Useful Things Page Css*/
/*.glyphicon-bullhorn {*/
/*-webkit-animation: pulse .9s ease 1.6s infinite alternate-reverse;*/
/*}*/