/*.episodes {*/
    /*overflow: hidden;*/
/*}*/

.more-podcasts {
    cursor: pointer;
    font-weight: normal;
    transition: font-weight .3s ease;
}

.more-podcasts:hover {
    font-weight: bold;
    transition: font-weight .3s ease;
}

.md-dialog-container cag-contact {
    padding: 20px 0;
}

.additional-information .image.more {
    width: 70%;
}

@media (min-width: 1500px) {
    .col-cag-big-4 {
        width: 33.333333%;
    }
}

@media (max-width: 1499px) {
    .col-cag-small-6 {
        width: 50%;
    }
}
