/*Useful Things section*/
#useful {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    padding: 5px;
    height: 130px;
    vertical-align: top;
}

#useful > div {
    height: 39px;
}

#useful > div > span {
    text-transform: capitalize;
    font-weight: 700;
}

#useful > div > a {
    float: right;
}

#useful > .description {
    height: 60px;
    overflow: hidden;
    white-space: normal;
}

#useful > .tags {
    vertical-align: bottom;
    cursor: pointer;
    overflow: hidden;
}

.useful-tags .tag {
    font-size: 90% !important;
}

#useful-things-section {
    margin-bottom: 20px;

}

#useful-things-section > #block > div:last-child {
    text-align: center;
}

.more-tags {
    font-size: larger;
    vertical-align: middle;
}

#usefulThings-page > .row {
    padding-bottom: 40px;
}

.podcast-number {
    cursor: pointer;
    font-weight: normal;
    transition: font-weight .3s ease;
}

.podcast-number:hover {
    font-weight: bold;
    transition: font-weight .3s ease;
}

.additional-information {
    padding: 20px 0;
}

.additional-information article {
    padding: 10px 0;
}

.additional-information > h3 {
    text-align: center;
}

.additional-information .image > img {
    width: 100%;
}

.additional-information .name {
    padding: 5px 0;
}

.md-dialog-is-showing .input-group .form-control {
    z-index: -1;
}